@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap');

:root {
    --bg-color: #ffffff;
    --crystal-bg-color: #ffffff7d;
    --crystal-bg-color-hover: #ffffff30;
    --text-color: #000000;
    --text-color-crystal-rgb: rgba(0, 0, 0, 1);
    --svg-main-color: #00CC99;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #050505;
        --crystal-bg-color: #0000007d;
        --crystal-bg-color-hover: #000000a7;
        --text-color: #ffffff;
        --text-color-crystal-rgb: rgba(255, 255, 255, 1);
        --svg-main-color: #00CC99;
    }
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: var(--bg-color);
    background-image: url("/src/img/bg.svg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    min-height: 100vh;
    max-height: 100%;  
}

.card-title{
    font-weight: 700;
    font-size: 1.3rem;
    margin-top: 0;
    margin-bottom: 0;
}

.title{
    font-weight: 800;
}

.crystal-bg{
    color: var(--text-color-crystal-rgb);
    backdrop-filter: blur(33px);
    background-blend-mode: overlay;
    background-color: var(--crystal-bg-color);
}

.btn.crystal-bg:hover{
    color: var(--text-color-crystal-rgb);
    backdrop-filter: blur(33px);
    background-blend-mode: overlay;
    background-color: var(--crystal-bg-color-hover);
}

.text-black {
    color: var(--text-color) !important;
}

#footer{
    opacity: 0.3;
}

.logo-main {
    aspect-ratio: 1/1;
    max-height: 2.3rem;
}

.text-bold{
    font-weight: 700;
}